In [52]:
import pprint
import requests
import sys
import pandas as pd
from datetime import datetime

api_key = "9b656c6f5237727cdf1e35288a7afa8c"
geo_URL = 'http://api.openweathermap.org/geo/1.0/direct'

loc = [
  'Buenos Aires, Argentina',
  'Guangzhou, China',
  'Wichita, Kansas',
  'Niskayuna, New York',
  'Gwangmyeong, South Korea',
  'Taipei, Taiwan',
  'Nanaimo, British Columbia',
  'Chennai, India',
  'Barrington, Illinois',
  'Littleton, Colorado',
  'Peterhead, Scotland',
  'Vizag, India',
  'Des Moines, Iowa',
  'Beijing, China',
  'Killeen, Texas',
  'Morehead City, North Carolina'
]

df_wide = pd.DataFrame(index=loc)
######

for city in loc:
    geo = f'{geo_URL}?q={city}&limit=5&appid={api_key}'
    resp = requests.get( geo )

    if resp.status_code != 200: # Failure?
        print( f'Error geocoding {city}: {resp.status_code}' )
        sys.exit( 1 )

    # OpenWeatherMap returns a list of matching cities, up to the limit specified
    # in the API call; even if you only ask for one city (limit=5), it's still
    # returned as a 1-element list

    if len( resp.json() ) == 0: # No such city?
        print( f'Error locating city {city}; {resp.status_code}' )
        sys.exit( 2 )

    json = resp.json()
    if type( json ) == list: # List of cities?
        lat = json[ 0 ][ 'lat' ]
        lon = json[ 0 ][ 'lon' ]
    else: # Unknown city?
        print( f'Error, invalid data returned for city {city}, {resp.status_code}' )
        sys.exit( 3 )

    # Use Peterhead's latitude and longitude to get its 5-day forecast in 3-hour blocks

    forecast_URL = 'http://api.openweathermap.org/data/2.5/forecast'
    forecast = f'{forecast_URL}?lat={lat}&lon={lon}&appid={api_key}'
    resp = requests.get( forecast )

    if resp.status_code != 200: # Failure?
        print( f'Error retrieving data: {resp.status_code}' )
        sys.exit( 4 )

    data = resp.json()
##### 

    data_list = []
    for i in range(len(data['list'])):
        forecast_data = data[ 'list' ][ i ]
        dt = datetime.strptime(forecast_data['dt_txt'], '%Y-%m-%d %H:%M:%S')
        temp_max = forecast_data['main']['temp_max']
        temp_min = forecast_data['main']['temp_min']
        data_list.append({
            'city': city,
            'datetime': dt,
            'temp_max': temp_max,
            'temp_min': temp_min
        })

    df = pd.DataFrame(data_list)
#####

    df_grouped = df.groupby(pd.Grouper(key='datetime', axis=0, freq='D')).aggregate({
        'city': lambda x: x.iloc[0],
        'temp_max': 'max',
        'temp_min': 'min'})
   
    df_grouped['min_avg'] = df_grouped['temp_min'].mean()
    df_grouped['max_avg'] = df_grouped['temp_max'].mean()
#####

    for i, day in enumerate(df_grouped.index, start=1):
        if i>4:
            break
        df_wide.loc[city, f'Min_{i}'] = df_grouped.loc[day, 'temp_min']
        df_wide.loc[city, f'Max_{i}'] = df_grouped.loc[day, 'temp_max']



df_wide = df_wide.reset_index()
df_wide = df_wide.rename({'index': 'City'}, axis='columns')
df_wide['Min_Avg'] = df_wide[['Min_1', 'Min_2', 'Min_3', 'Min_4']].mean(axis=1)
df_wide['Max_Avg'] = df_wide[['Max_1', 'Max_2', 'Max_3', 'Max_4']].mean(axis=1)
df_wide

,City,Min_1,Max_1,Min_2,Max_2,Min_3,Max_3,Min_4,Max_4,Min_Avg,Max_Avg
0,"Buenos Aires, Argentina",276.55,280.75,277.08,280.74,278.40,282.87,278.53,283.17,277.6400,281.8825
1,"Guangzhou, China",301.86,309.72,301.92,307.00,302.19,306.90,302.26,307.77,302.0575,307.8475
2,"Wichita, Kansas",293.99,306.36,295.15,308.42,297.49,312.54,299.63,311.98,296.5650,309.8250
3,"Niskayuna, New York",292.29,307.84,294.76,301.17,295.66,299.45,289.77,301.86,293.1200,302.5800
4,"Gwangmyeong, South Korea",295.20,298.13,295.59,302.52,295.82,302.67,297.09,304.21,295.9250,301.8825
5,"Taipei, Taiwan",300.34,308.38,300.22,308.68,300.93,309.01,301.05,309.79,300.6350,308.9650
6,"Nanaimo, British Columbia",291.63,299.10,289.73,298.33,288.08,295.88,287.66,294.06,289.2750,296.8425
7,"Chennai, India",301.81,304.64,301.94,307.84,302.79,306.79,302.39,307.49,302.2325,306.6900
8,"Barrington, Illinois",291.77,297.57,290.45,299.42,290.64,299.21,290.62,302.57,290.8700,299.6925
9,"Littleton, Colorado",289.77,304.45,289.81,307.02,292.51,309.21,294.38,312.56,291.6175,308.3100
10,"Peterhead, Scotland",283.43,286.09,284.74,286.00,283.89,284.89,284.23,285.46,284.0725,285.6100
11,"Vizag, India",300.93,303.77,300.96,305.11,301.76,306.03,302.18,305.69,301.4575,305.1500
12,"Des Moines, Iowa",290.37,299.00,290.55,300.02,291.07,300.63,292.52,302.85,291.1275,300.6250
13,"Beijing, China",298.88,308.83,301.39,311.48,297.77,312.71,293.98,297.15,298.0050,307.5425
14,"Killeen, Texas",293.75,307.86,296.97,310.14,296.38,309.80,296.62,306.66,295.9300,308.6150
15,"Morehead City, North Carolina",299.95,301.76,300.19,301.82,300.69,301.89,298.75,300.13,299.8950,301.4000